@import 'styles/variables.scss';
@import 'styles/mixins/mq.scss';

.header {
  margin: auto;
  position: fixed;
  padding: $space*4;
  z-index: 5;

  &__logo {
    height: 60px;
    width: auto;
  }
}
