@import 'styles/variables.scss';
@import 'styles/mixins/mq.scss';

.header {
  margin: auto;
  padding: $space;

  @include mq($S) {
    padding: $space*2;
  }

  @include mq($M) {
    position: fixed;
    padding: $space*2;
  }

  @include mq($L) {
    padding: $space*4;
  }

  &__logo {
    height: 30px;
    width: auto;

    @include mq($S) {
      height: 45px;
    }

    @include mq($L) {
      height: 60px;
    }
  }
}
