@import 'styles/variables.scss';
@import 'styles/keyframes.scss';
@import 'styles/mixins/mq.scss';

.modal {
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;

  .open & {
    animation: modalFadeIn 0.25s ease forwards;
  }

  .closed & {
    animation: modalFadeOut 0.5s ease 0.4s forwards;
    opacity: 1;
  }

  &__close {
    bottom: $space;
    border-radius: 25px;
    cursor: pointer;
    font-size: $font-size-24;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    position: fixed;
    right: $space;
    text-align: center;
    transform: scale(0);
    transition: all 0.1s $easeInOutQuint;
    width: 50px;
    z-index: 20;

    @include mq($M) {
      border-radius: 23px;
      font-size: $font-size-20;
      height: 45px;
      line-height: 45px;
      right: 12%;
      top: $space;
      width: 45px;
    }

    @include mq($L) {
      right: 21%;
    }

    .open & {
      opacity: 1;
      transform: scale(1);
      transition: all 0.35s $easeInOutQuint 0.75s;
    }
  }

  &__content {
    background-color: white;
    height: 120px;
    left: 0;
    padding: $space*2 $space;
    position: absolute;
    right: 0;

    @include mq($S) {
      height: 120px;
      left: 10%;
      padding: $space*4 $space*2;
      right: 10%;
    }

    @include mq($M) {
      height: 120px;
      padding: $space*4 $space*2 ;
    }

    @include mq($L) {
      height: 120px;
      left: 20%;
      padding: $space*4;
      position: absolute;
      right: 20%;
    }

    .open & {
      animation: modalExpand 0.35s $easeInOutQuint 0.2s forwards;
      overflow: scroll;
    }

    .closed & {
      animation: modalCollapse 0.45s $easeInOutQuint forwards;
    }
  }

  &__description--long {
    margin-bottom: $space*6;
    opacity: 0;
    transform: translateY($space * 1.25);

    .open & {
      opacity: 1;
      transform: translateY(0);
      transition: all 0.25s ease 0.4s;
    }
  }
}
