body {
  height: 100%;
  overflow: hidden;
}

@keyframes disableScroll {
  100% {
    height: 100%;
    overflow: hidden;
  }
}

@keyframes enableScroll {
  0% {
    height: 100%;
    overflow: hidden;
  }
  100% {
    height: auto;
    overflow: auto;
  }
}
