@import 'styles/variables.scss';
@import 'styles/mixins/mq.scss';

.home {
  width: 60%;
  margin: auto;

  &__header {
    padding: $space*5 $space*4 $space*4; 
  }

  .item {
    position: relative;
    height: 120px;
    padding: $space*4;
    overflow: hidden;
  }

  .item--fadeIn {
    opacity: 1;
    transition: opacity 0.25s ease 0.4s;
  }

  .item--fadeOut {
    opacity: 0;
    transition: opacity 0.2s ease;
  }
}
