@import 'styles/variables.scss';
@import 'styles/mixins/mq.scss';

.loader {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 15;

  &.fade {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease 0.6s;
  }
}
