@import 'styles/variables.scss';
@import 'styles/mixins/mq.scss';

.title {

  &--large {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: $font-size-24;
    letter-spacing: 1px;
    line-height: 28px;

    @include mq($S) {
      font-size: $font-size-28;
      line-height: 30px;
    }

    @include mq($M) {
      font-size: $font-size-32;
      line-height: 32px;
    }

    @include mq($L) {
      font-size: $font-size-36;
      line-height: 34px;
    }
  }

  &--medium {
    font-size: $font-size-20;
    letter-spacing: 1px;
    line-height: 24px;

    @include mq($S) {
      font-size: $font-size-24;
      line-height: 28px;
    }

    @include mq($M) {
      font-size: $font-size-28;
      line-height: 32px;
    }

    @include mq($L) {
      font-size: $font-size-32;
      line-height: 34px;
    }
  }

  &--small {
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: $font-size-20;
    letter-spacing: 0.6px;
    line-height: 26px;
  }

  &--xsmall {
    font-size: $font-size-12;
  }
}
