@import 'styles/variables.scss';
@import 'styles/mixins/mq.scss';

.brand-header {
  padding: $space $space 0;

  @include mq($S) {
    padding: $space*2 $space*2 $space;
  }
  @include mq($M) {
    padding: $space*4 $space*2 $space;
  }

  @include mq($L) {
    padding: $space*5 $space*4 $space*4;
  }
}
