@import 'styles/variables.scss';
@import 'styles/mixins/mq.scss';

.description {
  padding: 0;
  margin: 0;

  &--large {
    font-size: $font-size-14;
    padding: $space 0;
    margin: 0;
    line-height: 1.55;
    letter-spacing: 0.65px;

    @include mq($S) {
      font-size: $font-size-16;
    }

    @include mq($M) {
      font-size: $font-size-18;
    }

    @include mq($L) {
      font-size: $font-size-18;
    }
  }

  &--medium {
    font-size: $font-size-14;
    padding: 0;
    margin: $space 0 $space*3;
    line-height: 1.55;
    letter-spacing: 0.65px;

    @include mq($S) {
      font-size: $font-size-14;
    }

    @include mq($M) {
      font-size: $font-size-16;
    }

    @include mq($L) {
      font-size: $font-size-16;
    }
  }

  &--small {
    font-size: $font-size-16;
    padding: 0;
    margin: $space 0;
    line-height: 1.55;
    letter-spacing: 0.65px
  }
}
